name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install thumbv8m.main-none-eabihf toolchain
      run: rustup target add thumbv8m.main-none-eabihf
    - name: Build std
      run: cargo build --verbose
    - name: Build no_std with sysex
      run: cargo build --verbose --target=thumbv8m.main-none-eabihf --no-default-features --features=sysex
    - name: Build no_std without sysex
      run: cargo build --verbose --target=thumbv8m.main-none-eabihf --no-default-features
    - name: Run tests
      run: cargo test --verbose
